<!DOCTYPE html>
<html>
<head>
<title>Service Details</title>

<link rel="stylesheet" href="../static/details.css">

</head>

<body>

<div class="service-container">

    <!-- Left Image -->
    <div class="left">

        <img id="serviceImage">

    </div>


    <!-- Right Details -->

    <div class="right">

        <h2  id="serviceName"></h2>

        <h3>PACKAGE</h3>

        <div class="inclusion-box">

            <h4>Inclusions</h4>

            <ul id="inclusionList">

            </ul>

        </div>

        <h1 id="servicePrice"></h1>

        <button class="book-btn">
            BOOK NOW →
        </button>

    </div>

</div>

<script src="../static/javascript/details.js"></script>

</body></html>


