<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/order.css">
  <link rel="icon" type="jpg"
    href="https://img.freepik.com/premium-vector/motoservicio-white-background_917213-250266.jpg">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <title>BIKE SERVICE CENTER</title>
</head>

<body>
  <header>
    <div class="logos">
      <img src="../static/images/name.png" alt="Omega Bike Services name"></div>
      <div class="user"><a href="/signin" class="in">Sign In</a>
    </div></header>
    <div class="select">
        <form class="formcontainer">
      <select id="brand" name="brand">
        <option value="select">Select Brand</option>
        <option value="TVS">TVS</option>
        <option value="HONDA">HONDA</option>
        <option value="ROYAL">ROYAL ENFIELD</option>
      </select>
      <select id="model" name="your model">
        <option value="select">Select Your Model</option>
         <option name="tvs" value="select">Apache RTR 160</option>
          <option name="tvs" value="select">Apache RR</option>
          <option name="tvs" value="select">Raider 125</option>
           <option name="tvs"value="select">Ronin</option>
            <option name="tvs"value="select">Radeon</option>
            <option name="honda" value="select">Honda Shine 125</option>
          <option name="honda"  value="select">Honda SP</option>
          <option name="honda"value="select">Honda CB350</option>
           <option name="honda" value="select">Honda Hornet</option>
            <option name="honda"value="select">Honda Unicorn</option>
            <option name="royal"value="select">Classic 350</option>
          <option name="royal"value="select">Bullet 350</option>
          <option name="royal"value="select">meteor 350</option>
           <option name="royal"value="select">Himalayan 450</option>
            <option name="royal"value="select">Interceptor 650</option>
      </select>
      <select id="fuel" name="fuel type">
        <option value="select">Fuel Type</option>
        <option value="petrol">Petrol</option>
      </select>
    </form></div>
    <div class="moto">
        <h3 >Motorcycle</h3></div>
        <div class="servicecover">
      <a href="standard service" class="ss"><img class="img1" src="../static/images/service.jpg"></a>
      <a href="Royal service" class="rs"><img class="img1" src="../static/images/service2.jpg"></a>
      <a href="premium service" class="ps"><img class="img1" src="../static/images/service4.jpg"></a>
    </div>
  </body>
  </html>