<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/order.css">
  <link rel="icon" type="jpg"
    href="https://img.freepik.com/premium-vector/motoservicio-white-background_917213-250266.jpg">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <title>BIKE SERVICE CENTER</title>
</head>

<body>

  <header>
    <div class="logos">
  <a href="/">
    <img src="../static/images/name.png" alt="Omega Bike Services name">
  </a>
</div>

  </header>

  <div class="select">
    <form class="formcontainer">
      <select id="brands" name="brand" >
        <option value="">Select Brand</option>
      </select>

      <select id="models" name="model">
        <option value="">Select Model</option>
      </select>

      <select id="fuels" name="fuel">
        <option value="">Select Fuel</option>
      </select>
      <input
        type="text"
        id="bikenumber"
        placeholder="Enter Bike Number" required
    >
    </form>
  </div>

  <div class="moto">
    <h3>Motorcycle</h3>
  </div>

  <div class="servicecover2" id="serviceContainer2"></div>

    
  <script src="../static/javascript/order2.js"></script>

</body>

</html>