<!DOCTYPE html>
<html>

<head>
    <title>signup form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/css/intlTelInput.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/signup.css">
</head>

<body>
    <div class="card">
        <form id="form" action="/register" method="POST">
            <h2>SignUp</h2>
            <div class="input-box1">
                <input name ="firstname" id="firstname" type="text" placeholder="firstname" required>
                <small class="error" id="fnameError"></small>
                <input name="lastname" id="lastname" type="text" placeholder="lastname" required>
                <small class="error" id="lnameError"></small>
            </div>
            <div class="contact">
                <input name="phone" id="phone" type="tel" placeholder="Mob no" required>
                <small class="error" id="mobileError"></small>
                <input name="whatsapp" id="whatsapp" type="tel" placeholder="whatsapp no" required>
                <small class="error" id="whatsappError"></small>
            </div>
            <div class="e-mail">
                <input name="email" id="email" class="email" type="text" placeholder="E-mail" required>
                <small class="error" id="emailError"></small>
            </div>
            <div class="radio-btn">
                <div class="male"><input id="gender" type="radio" name="gender" value="male">Male</div>
                <div class="female"><input id="gender" class="female" type="radio" name="gender" value="female">Female</div>
                <div class="others"><input id="gender" class="others" type="radio" name="gender" value="others">Others</div>
            </div>
            <div class="usname">
                <input name="username" class="pass" id="username" type="text" placeholder="Username" required>
                <small class="error" id="userError"></small>
            </div>

            <div class="pass-word"> <input name="password" class="set-pass" id="password" type="password" placeholder="Set password"
                    required>
                <small class="error" id="passError"></small>
            </div>
            <div class="con-password">
                <input name="confirm_password" class="con-pass" id="confirm_password" type="password" placeholder="confirm password" required>
                <small class="error" id="conpassError"></small>
            </div>

            <button id="reg-btn" type="submit">Register</button>
            <h4>Already have an account!<a href="/signin"> Login</a></h4>
            <div class="back">
                <a href="/">Back</a>
            </div>
        </form>
    </div>
    <script src="../static/javascript/signup.js"></script>
</body>

</html>