<!DOCTYPE html>
<html>
<head>
    <title>Booking Success</title>
    <link rel="stylesheet" href="../static/sucess.css">
</head>
<body>

<div class="container">

    <h1>Booking Successful ✅</h1>

    <div class="card">
        <p><b>Service ID:</b> <span id="service_id"></span></p>
        <p><b>Brand:</b> <span id="brand"></span></p>
        <p><b>Model:</b> <span id="model"></span></p>
        <p><b>Fuel:</b> <span id="fuel"></span></p>
        <p><b>Name:</b> <span id="name"></span></p>
        <p><b>Mobile:</b> <span id="mobile"></span></p>
    </div>

    <a href="/" class="btn">Go Home</a>

</div>

<script src="../static/javascript/sucess.js"></script>

</body>
</html>